@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DM Mono";
  src: url("/fonts/DMMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .animate-underline {
    position: relative;
  }

  .animate-underline:hover {
    color: var(--accent);
  }

  .animate-underline::after {
    content: '';
    position: absolute;
    bottom: -6px; 
    left: 0;
    width: 100%;
    height: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 10'%3E%3Cpath d='M0 5 Q 2.5 3 5 5 T 10 5 T 15 5 T 20 5' fill='none' stroke='%23EF5C3F' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E") repeat-x;
    background-size: 20px 10px;
    opacity: 0;
    transition: opacity 0s;
  }

  .animate-underline:hover::after {
    opacity: 1;
    animation: move-underline 1s linear infinite;
  }

  @keyframes move-underline {
    from { background-position: 0 0; }
    to { background-position: -20px 0; }
  }
}

:root {
  --body-font: "Geist";
  --heading-font: "DM Mono";
  --background: #FFF9EC;
  --primary: #34211D;
  --secondary: #83645D;
  --accent: #EF5C3F;
  --alt-accent: #A1914F;
}

::-webkit-scrollbar {
  display: default;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--body-font);
}